@media (min-width: 320px) {

    

    .background__img {
        width: 320px;
        height: 400px;
        object-fit: cover;
    }

    .nav__menu{
        margin-top: 25px;
        gap: 0px;
        height: 280px;
        align-items: normal;
    }

    .logo__img{
        display: flex;
    }

    .main__logo__img{
        width: 320px;
    }

    .menu__items{
        padding: 15px 25px;
        width: 216px;
        text-align: left;
        flex-direction: column;
        gap: 15px;
    }

    .menu__items > span{
        border-bottom: 2px solid white;
    }

    .item{
        background-color: aliceblue;
        width: 193px;
        padding: 15px 25px;
        display: none;
        flex-direction: column;
        gap: 15px;
    }

    .item > span{
        border-bottom: 2px solid white;
    }

    .menu__items a{
        font-size: 20px;
        text-align: center;
        padding: 0;
    }

    .open__menu{
        display: flex;
        justify-content: right;
    }

    .menu__icon{
        width: 30px;
    }

    .container{
        width: 320px;
    }

    .content{
        width: 320px;
        margin: 0;
        padding: 0;
    }
}