@media (min-width: 320px) {

    main {
        width: 100%;
    }

    .background__img {
        width: 100%;
        height: 25rem;
        object-fit: cover;
    }

    .main__logo {
        margin-top: 12rem;
    }

    .main__logo__img {
        width: 15.625rem;
    }

    .nav__menu {
        margin-top: 1.563rem;
        padding-left: 0.625rem;
        padding-right: 0.563rem;
        gap: 0;
        align-items: normal;
    }

    .menu__items {
        width: 12.563rem;
        text-align: left;
        flex-direction: column;
        gap: 0.938rem;
    }

    .menu__items>span {
        border-bottom: 0.125rem solid white;
    }

    .item {
        width: 12.563rem;
        height: 21.563rem;
        border-radius: 0.625rem;
        display: none;
        flex-direction: column;
        gap: 0.1rem;
    }

    .item>span {
        width: 100%;
        height: 3.125rem;
        border: 0.063rem solid rgba(255, 255, 255, 0.212);
    }

    .menu__items a {
        font-size: 1rem;
        text-align: center;
        padding: 0;
    }

    .open__menu {
        justify-content: right;
    }

    .menu__icon,
    .menu__icon__2 {
        width: 1.875rem;
    }

    .menu__icon__2 {
        display: none;
    }

    .container {
        width: 100%;
    }

    section {
        padding: 1.875rem 0 1.875rem 0;
    }

    section>h1 {
        font-size: 1.75rem;
    }

    .content,
    .main__container__links>.container>section>div {
        font-size: 1.25rem;
        width: 100%;
    }

    .title>h1 {
        padding: 0 0.625rem;
    }

    .content>ul,
    .main__container__links>.container>section>div>ul,
    .main__container__links>.container>section>div>ol {
        flex-direction: column;
        gap: 1.25rem;
        font-size: 1rem;
    }

    .main__container__links>.container>section>div>ul {
        width: 80%;
        padding: 0 0.625rem;
    }

    .content>p,
    .content>li,
    .content>span,
    .content>a,
    .main__container__links>.container>section>div>li,
    .main__container__links>.container>section>div>span,
    .main__container__links>.container>section>div>a {
        font-size: 1rem;
        padding: 0 0.625rem;
    }

    #link {
        color: red;
    }

    iframe {
        display: none;
        width: 95%;
    }

    .footer .row,
    .footer__links .row__links {
        font-size: 0.7rem;
    }

    .footer .row ul,
    .footer__links .row__links ul {
        flex-direction: row;
    }

    .footer .row ul li,
    .footer__links .row__links ul li {
        width: 0rem;
    }

    .row>ul, .row__links>ul{
        gap: 0rem;
    }

    .links__btn{
        gap: 2rem;
    }

    .top__btn {
        font-size: 0.8rem;
    }

    .btn__img {
        width: 0.8rem;
    }
}

@media (min-width: 375px) {
    .background__img {
        height: 25rem;
        object-fit: cover;
    }

    .nav__menu {
        gap: 3.125rem;
    }

    section>h1 {
        font-size: 1.875rem;
    }

    .content {
        font-size: 1.25rem;
        margin: 0;
    }

    .midias {
        gap: 1.8rem;
    }

    .footer .row ul, .footer__links .row__links ul{
        gap: 1rem;
    }

    .links__btn {
        gap: 3.5rem;
    }
}

@media (min-width: 425px) {
    .background__img {
        height: 25rem;
        object-fit: cover;
    }

    .nav__menu {
        gap: 6.25rem;
    }

    .content {
        margin: 0;
    }

    .midias {
        gap: 2.3rem;
    }

    .footer .row ul, .footer__links .row__links ul{
        gap: 1.5rem;
    }

    .links__btn {
        gap: 6.7rem;
    }
}

@media (min-width:720px) {

    .footer,
    .footer__links {
        text-align: left;
        padding: 2%;
    }

    .footer .row ul li,
    .footer__links .row__links ul li {
        width: 100%;
        display: flex;
        margin: 0.625rem 0;
        text-align: center;
    }

    .footer .row a i,
    .footer__links .row__links a i {
        margin: 0% 3%;
    }

    .footer .row ul,
    .footer__links .row__links ul {
        flex-direction: row;
    }
}

@media (min-width: 768px) {
    .background__img {
        height: 25rem;
        object-fit: cover;
    }

    .main__logo__img {
        margin-top: -3.125rem;
        width: 25rem;
    }

    .nav__menu {
        gap: 25rem;
    }

    .item>span:nth-child(3) {
        padding: 0 0.313rem;
    }

    .content {
        margin: 0;
    }

    .title>h1,
    .content>p,
    .content>li,
    .content>span,
    .content>a,
    .main__container__links>.container>section>div>li,
    .main__container__links>.container>section>div>span,
    .main__container__links>.container>section>div>a {
        padding: 0 3.75rem;
    }

    iframe {
        width: 85%;
    }

    .midias {
        gap: 5rem;
    }

    .top__btn {
        padding-right: 1.25rem;
    }

    .links__btn {
        gap: 24.5rem;
    }

    .row__links:nth-child(2)>ul {
        display: flex;
    }
}

@media (min-width: 1024px) {
    .background__img {
        height: 25rem;
        object-fit: cover;
    }

    .main__logo__img {
        margin-top: -2rem;
        width: 25rem;
    }

    .nav__menu {
        gap: 6.25rem;
    }

    .home__page {
        margin-left: -11.25rem;
    }

    .menu__items span {
        width: 6.25rem;
    }

    .menu__items a {
        font-size: 0.875rem;
    }

    .item {
        display: flex;
    }

    .item,
    .item>span:first-of-type,
    .menu__items>span,
    .item>span {
        border: none;
        background-color: transparent;
    }

    .open__menu {
        display: none;
    }

    .menu__items {
        width: 36.063rem;
    }

    .menu__items>a {
        width: 143.75rem;
    }

    .menu__items>span {
        border-bottom: none;
    }

    .menu__items>span {
        border-bottom: none;
    }

    .item {
        width: 49.375rem;
        flex-direction: row;
        height: 4.375rem;
        justify-content: space-around;
        padding: 0rem;
    }

    .item>span {
        text-align: center;
    }

    .content,
    .main__container__links>.container>section>div {
        text-align: left;
        margin: 0;
    }

    .title>h1,
    .content>p,
    .content>li,
    .main__container__links>.container>section>div>p,
    .main__container__links>.container>section>div>li {
        padding: 0 5rem;
    }

    .main__container__links>.container>section>div>ol {
        padding: 0 5rem;
    }

    .footer .row,
    .footer__links .row__links {
        font-size: 1rem;
    }

    .top__btn {
        padding-right: 2.5rem;
    }

    .top__btn>a {
        font-size: 1rem;
    }

    .btn__img {
        width: 1rem;
    }

    .links__btn {
        gap: 29rem;
    }
}

@media (min-width: 1440px) {
    .background__img {
        height: 25rem;
        object-fit: cover;
    }

    .main__logo__img {
        width: 25rem;
    }

    .nav__menu {
        gap: 31.25rem;
    }

    .home__page {
        margin-left: -10.625rem;
    }

    .item {
        width: 49.563rem;
    }

    .content,
    .main__container__links>.container>section>div {
        margin: 0;

    }

    .row>ul,
    .row__links>ul {
        gap: 5rem;
    }

    .links__btn {
        gap: 52.5rem;
    }

}

@media (min-width: 2560px) {
    .background__img {
        height: 25rem;
        object-fit: cover;
    }

    .main__logo__img {
        margin-top: -3.125rem;
        width: 25rem;
    }

    .nav__menu {
        gap: 91.875rem;
    }

    .item {
        width: 48rem;
    }

    .content,
    .main__container__links>.container>section>div {
        margin: 0;
    }

    .row>ul,
    .row__links>ul {
        gap: 10rem;
    }

    .row>ul>li,
    .row__links>ul>li {
        width: 16rem;
    }

    .links__btn {
        gap: 111rem;
    }
}