@media (min-width: 320px) {

    main {
        width: 100%;
    }

    .background__img {
        width: 100%;
        height: 25rem;
        object-fit: cover;
    }

    .nav__menu {
        margin-top: 1.563rem;
        padding-left: 0.625rem;
        padding-right: 0.563rem;
        gap: 0px;
        align-items: normal;
    }

    .main__logo {
        margin-top: 12rem;
    }

    .main__logo__img {
        width: 15.625rem;
    }

    .menu__items {
        width: 12.563rem;
        text-align: left;
        flex-direction: column;
        gap: 0.938rem;
    }

    .menu__items>span {
        border-bottom: 0.125rem solid white;
    }

    .item {
        width: 12.563rem;
        height: 21.563rem;
        border-radius: 10px;
        border: 1px solid white;
        padding: 0.938rem 1.563rem;
        display: none;
        flex-direction: column;
        gap: 0rem;
    }

    .item>span {
        width: 150px;
        height: 50px;
        border-bottom: 1px solid white;
    }

    .item>span:first-of-type {
        border-top: 1px solid white;
    }

    .menu__items a {
        font-size: 1rem;
        text-align: center;
        padding: 0;
    }

    .open__menu {
        justify-content: right;
    }

    .menu__icon,
    .menu__icon__2 {
        width: 30px;
    }

    .menu__icon__2 {
        display: none;
    }

    .container {
        width: 100%;
    }

    section {
        padding: 30px 0 30px 0;
    }

    section>h1 {
        font-size: 28px;
    }

    .content,
    .main__container__links>.container>section>div {
        font-size: 1.25rem;
        width: 100%;
    }

    .title>h1 {
        padding: 0 10px;
    }

    .content>ul,
    .main__container__links>.container>section>div>ul,
    .main__container__links>.container>section>div>ol {
        flex-direction: column;
        gap: 20px;
        font-size: 16px;
    }

    .main__container__links>.container>section>div>ul {
        width: 80%;
        padding: 0 10px;
    }

    .content>p,
    .content>li,
    .content>span,
    .content>a,
    .main__container__links>.container>section>div>li,
    .main__container__links>.container>section>div>span,
    .main__container__links>.container>section>div>a {
        font-size: 16px;
        padding: 0 10px;
    }

    #link {
        color: red;
    }

    iframe {
        display: none;
        width: 95%;
    }
}

@media (min-width: 375px) {
    .background__img {
        height: 25rem;
        object-fit: cover;
    }

    .nav__menu {
        gap: 50px;
    }

    section>h1 {
        font-size: 30px;
    }

    .content {
        font-size: 1.25rem;
        margin: 0;
    }
}


@media (min-width: 425px) {
    .background__img {
        height: 25rem;
        object-fit: cover;
    }

    .nav__menu {
        gap: 6.25rem;
    }

    .content {
        margin: 0;
    }
}

@media (max-width:720px) {

    .footer,
    .footer__2 {
        text-align: left;
        padding: 5%;
    }

    .footer .row ul li,
    .footer__2 .row__2 ul li {
        display: block;
        margin: 0.625rem 0px;
        text-align: center;
    }

    .footer .row a i,
    .footer__2 .row__2 a i {
        margin: 0% 3%;
    }
}

@media (min-width: 768px) {
    .background__img {
        height: 25rem;
        object-fit: cover;
    }

    .nav__menu {
        gap: 25rem;
    }

    .item>span:nth-child(3) {
        padding: 0 5px;
    }

    .main__logo__img {
        margin-top: -50px;
        width: 25rem;
    }

    .content {
        margin: 0;
    }

    .title>h1,
    .content>p,
    .content>li,
    .content>span,
    .content>a,
    .main__container__links>.container>section>div>li,
    .main__container__links>.container>section>div>span,
    .main__container__links>.container>section>div>a {
        padding: 0 60px;
    }

    iframe {
        width: 85%;
    }
}

@media (min-width: 1024px) {
    .background__img {
        height: 25rem;
        object-fit: cover;
    }

    .nav__menu {
        gap: 100px;
    }

    .item,
    .item>span:first-of-type,
    .menu__items>span,
    .item>span {
        border: none;
    }

    .menu__items span {
        width: 100px;
    }

    .menu__items a {
        font-size: 14px;
    }

    .main__logo__img {
        margin-top: -35px;
        width: 25rem;
    }

    .open__menu {
        display: none;
    }

    .item>span {
        text-align: center;
    }

    .item {
        display: flex;
        width: 790px;
        flex-direction: row;
        height: 70px;
        gap: 55px;
        padding: 0;
    }

    .menu__items {
        width: 577px;
    }

    .menu__items>a {
        width: 2300px;
    }

    .menu__items>span {
        border-bottom: none;
    }

    .menu__items>span {
        border-bottom: none;
    }

    .content,
    .main__container__links>.container>section>div {
        text-align: left;
        margin: 0;
    }

    .title>h1,
    .content>p,
    .content>li,
    .main__container__links>.container>section>div>p,
    .main__container__links>.container>section>div>li {
        padding: 0 80px;
    }

    .home__page {
        margin-left: -180px;
    }

    .main__container__links>.container>section>div>ol {
        padding: 0 80px;
    }
}

@media (min-width: 1440px) {
    .background__img {
        height: 25rem;
        object-fit: cover;
    }

    .nav__menu {
        gap: 500px;
    }

    .main__logo__img {
        width: 25rem;
    }

    .content,
    .main__container__links>.container>section>div {
        margin: 0;

    }

    .home__page {
        margin-left: -170px;
    }

    .item {
        width: 793px;
    }

}

@media (min-width: 2560px) {
    .background__img {
        height: 25rem;
        object-fit: cover;
    }

    .nav__menu {
        gap: 1470px;
    }

    .main__logo__img {
        margin-top: -50px;
        width: 25rem;
    }

    .content,
    .main__container__links>.container>section>div {
        margin: 0;
    }

    .item {
        width: 768px;
    }
}