* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*===========Fontes===========*/

@font-face {
    font-family: 'Vilaka';
    src: url(../fonts/vilaka/Vilaka\ Modern\ Serif\ Font.ttf) format(truetype);
}

@font-face {
    font-family: 'Zillah';
    src: url(../fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf);
}

/*===========Fade-Out do Header===========*/

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*===========Variáveis===========*/

:root {
    --font-1: 'Vilaka';
    --font-2: 'Zillah';
    color: rgba(41, 41, 41, 0.781);
}

/*===========Configs da Scrollbar===========*/

::-webkit-scrollbar {
    width: 0.625rem;
}

::-webkit-scrollbar-thumb {
    border-radius: 3.125rem;
    background-color: #b41616;
    border: 0.063rem solid rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb:hover {
    background-color: #b41616a9;
}

::-webkit-scrollbar-track {
    background: #ededed;
}

/*===========Unificação de Propriedades===========*/

body,
.nav__menu,
.content,
.main__container__links>.container>section>div,
.item>span,
.container,
.midias,
.top__btn,
.top__btn__links,
.map,
.links__btn,
.btn__img {
    display: flex;
    align-items: center;
    justify-content: center;
}

header,
.footer .row ul,
.footer__links .row__links ul,
.row:last-of-type>a,
.row__links:last-of-type>a {
    display: flex;
    align-items: center;
}

.row>p,
.row__links>p,
.footer__links .row__links ul {
    display: flex;
    justify-content: center;
}

.menu__logo,
.menu__items,
section,
section>h1,
.row__links>p:last-of-type,
.logo__img,
.open__menu,
.content>ul,
.main__container__links>.container>section>div>ul,
.main__container__links>.container>section>div>ol,
.main__container__links>.container>section>div>ol:first-of-type,
.sublist,
.footer,
.row:first-of-type,
.row__links:first-of-type,
.row:last-of-type,
.row__links:last-of-type,
.row>ul>li,
.row__links>ul>li,
.footer__links,
.home__btn {
    display: flex;
}

.content,
.main__container__links>.container>section>div,
body,
header,
section,
.main__container__links>.container>section>div>ol:first-of-type,
.main__container__links>.container>section>div>p,
.main__container__links>.container>section>div>ul>li,
.sublist,
.footer,
.footer__links,
.row:first-of-type,
.row__links:first-of-type,
.row:last-of-type,
.row__links:last-of-type {
    flex-direction: column;
}

.row>ul>li,
.row__links>ul>li,
.row>p:last-of-type,
.row__links>p:last-of-type,
.top__btn,
.top__btn__links {
    flex-direction: row;
}

.content,
.main__container__links>.container>section>div {
    text-align: left;
    gap: 2rem;
}

/*============================================*/

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgba(0, 0, 0, 0.911);
    gap: 3.125rem;
}

/*===========Configs do Header===========*/

header {
    width: 100%;
    height: 22.813rem;
}

/*===========Configs do Menu===========*/

.main__logo {
    margin-top: 7.7rem;
    position: absolute;
    animation: fade 2s;
}

.main__logo__img {
    width: 31.25rem;
}

.nav__menu {
    gap: 32.5rem;
    width: 100%;
    height: 6.25rem;
    position: absolute;
    animation: fade 2s;
}

.menu__logo {
    justify-content: left;
}

.logo__img {
    width: 6.25rem;
}

.menu__items {
    gap: 1.875rem;
}

.menu__items a {
    padding: 0.313rem 0.625rem;
    font-size: 1.6rem;
    color: white;
}

.open__menu:hover {
    cursor: pointer;
}

.item>span {
    background-color: rgba(37, 37, 37, 0.726);
    font-family: var(--font-2);
    border-radius: 0.625rem;
    cursor: pointer;

}

/*===========Configs do Container===========*/

.container {
    width: 100%;
}

.content {
    padding: 0 0.813rem;
}

section {
    font-family: var(--font-2);
    width: 95%;
    color: white;
    background-color: black;
    border-radius: 0.313rem;
    gap: 1rem;
    font-size: 2.5rem;
}

.title {
    width: 100%;
}

section>h1 {
    text-align: center;
    padding: 1.875rem 6.25rem 0 6.25rem;
}

/*===========Configs do Container Links===========*/

.container__links {
    background-color: rgba(196, 196, 196, 0.692);
}

.main__container__links>.container {
    padding: 1.875rem 0;
}

.main__container__links>.container>section {
    border: 0.625rem solid black;
    color: black;
    background-color: white;
    font-weight: bolder;
}

.main__container__links>.container>section>div>p {
    text-align: center;
}

.main__container__links>.container>section>div>h1,
.main__container__links>.container>section>div>h3 {
    font-size: 1.25rem;
}

.main__container__links>.container>section>div>ol {
    padding: 0 1.25rem;
}

.main__container__links>.container>section>div>ol:first-of-type,
.main__container__links>.container>section>div>p,
.main__container__links>.container>section>div>ul>li {
    font-size: 0.688rem;
    width: 92%;
    gap: 1.25rem;
}

.list__title {
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.125rem;
}

.list__title::marker,
.sublist>li::marker,
.main__container__links>.container>section>div>ul>li::marker {
    color: rgba(255, 0, 0, 0.808);
}

#final__line {
    text-align: right;
}

.links__btn {
    gap: 40rem;
}

.links__btn>.top__btn>a>p {
    font-size: 0.813rem;
    color: black;
    width: 5.3rem;
}

.home__btn {
    width: 100%;
    justify-content: right;
}

.home__btn>button {
    background-color: black;
}

.home__btn>button:hover {
    background-color: rgb(75, 75, 75);

    box-shadow: 0.031rem 0.031rem 1.25rem rgb(0, 0, 0);
}

button>a {
    color: white;
}

/*===========Configs do Botão do Mapa===========*/

button {
    font-family: var(--font-2);
    color: white;
    background-color: rgba(255, 0, 0, 0.932);
    border: none;
    border-radius: 0.625rem;
    width: 6.25rem;
    height: 3.125rem;
}

button:hover {
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.918);
    box-shadow: 0.031rem 0.031rem 1.25rem red;
    transform: scale(1.1);
}

/*===========Configs do Mapa===========*/

.map {
    width: 95%;
}

iframe {
    width: 100%;
}

/*===========Links===========*/

.sublist {
    gap: 1.25rem;
    padding-left: 0.938rem;
}

/*===========Configs do Footer===========*/

footer {
    width: 100%;
}

.footer {
    gap: 1.25rem;
    background: black;
    padding: 1.875rem 0;
    font-family: 'Play', sans-serif;
    text-align: center;
    box-shadow: 0.031rem 0.031rem 0.625rem red;
    border-top-left-radius: 0.313rem;
    border-top-right-radius: 0.313rem;
    border: 0.063rem solid red;

}

.footer__links {
    gap: 0.625rem;
    background: white;
    padding: 1.875rem 0;
    font-family: 'Play', sans-serif;
    text-align: center;
    box-shadow: 0.031rem 0.031rem 0.625rem red;
    border-top-left-radius: 0.313rem;
    border-top-right-radius: 0.313rem;
    border: 0.063rem solid red;

}

.row:first-of-type,
.row__links:first-of-type {
    gap: 1.25rem;
}

.row:last-of-type,
.row__links:last-of-type {
    gap: 1.25rem;
}

.row>ul>li,
.row__links>ul>li {
    width: 13.125rem;
}

.midias {
    gap: 3.125rem;
}

.footer .row {
    width: 100%;
    color: white;
    font-size: 1em;
}

.footer__links .row__links {
    width: 100%;
    color: black;
    font-size: 0.8em;
}

.footer .row a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.footer__links .row__links a {
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.footer .row a:hover,
.footer__links .row__links a:hover {
    color: #c90000;
}

.footer .row ul,
.footer__links .row__links ul {
    width: 100%;
}

.footer .row ul li,
.footer__links .row__links ul li {
    display: inline-block;
    margin: 0 1.875rem;
}

.row>ul,
.row__links>ul {
    gap: 0.313rem;
}

.row>p {
    text-align: center;
}

.footer .row a i,
.footer__links .row__links a i {
    font-size: 2em;
    margin: 0% 1%;
}

.youtube__icon,
.instagram__icon {
    width: 2.5rem;
}

.youtube__icon:hover,
.instagram__icon:hover {
    transform: scale(1.1);
}

.top__btn {
    justify-content: right;
}

.top__btn>a:hover {
    color: #c90000;
    transition: 0.5s;
}

.top__btn,
.top__btn__links {
    gap: 0.8rem;
}

.top__btn>a {
    color: white;
}

.top__btn__links>a {
    color: black;
}

.btn__img {
    width: 1.25rem;
}

.row>p:last-of-type,
.row__links>p:last-of-type {
    gap: 0.125rem;
}

.row:last-of-type>a,
.row__links:last-of-type>a {
    justify-content: right;
}