* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@font-face {
    font-family: 'Vilaka';
    src: url(../fonts/vilaka/Vilaka\ Modern\ Serif\ Font.ttf) format(truetype);
}

@font-face {
    font-family: 'Zillah';
    src: url(../fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf);
}

@keyframes fade {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

:root {
    --font-1: 'Vilaka';
    --font-2: 'Zillah';
    color: rgba(41, 41, 41, 0.781);
}

body,
.nav__menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: rgba(0, 0, 0, 0.911);
    flex-direction: column;
    gap: 3.125rem;
}

header {
    display: flex;
    align-items: center;
}

.menu__items {
    display: flex;
    gap: 1.875rem;
}

.menu__items a {
    padding: 0.313rem 0.625rem;
    font-size: 1.6rem;
    color: white;
}

header {
    flex-direction: column;
    width: 100%;
    height: 22.813rem;
}

.nav__menu {
    gap: 32.5rem;
    width: 100%;
    height: 6.25rem;
    position: absolute;
    animation: fade 2s;
}

.item>span {
    font-family: var(--font-2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu__logo {
    display: flex;
    justify-content: left;
}

.logo__img {
    width: 6.25rem;

}

.main__logo {
    margin-top: 7.7rem;
    position: absolute;
    animation: fade 2s;
}

.main__logo__img {
    width: 31.25rem;
}

/*==========================================*/

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

section {
    font-family: var(--font-2);
    width: 95%;
    color: white;
    background-color: black;
    border-radius: 0.313rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 2.5rem;
}

.title{
    width: 100%;
}

section>h1{
    display: flex;
    text-align: center;
    padding: 1.875rem 6.25rem 0 6.25rem;
}

.content {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

button{
    font-family: var(--font-2);
    color: white;
    background-color: rgba(255, 0, 0, 0.404);
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 50px;
}

button:hover{
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.568);
    box-shadow: 0.5px 0.5px 20px red;
    transform: scale(1.1);
}

iframe{
    width: 100%;
}

.row>p:last-of-type{
    display: flex;
    flex-direction: row;
    gap: 2px;
}
